<div class="p-5" style="background-color: rgb(240, 240, 245);">
    <div class="w-3/4 mx-auto flex flex-wrap justify-between gap-3 space-x-2">
        <div class="">
            <img src="../../assets/images/logo_2.png" alt="">
            <p>&copy; 2024 Swiggy Limited</p>
        </div>
        <div class="flex flex-col space-y-2">
            <h1 class="font-bold text-lg">Company</h1>
            <ul class="flex-col space-y-2">
                <li><a href="">About Us</a></li>
                <li><a href="">Swiggy Corporate</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Swiggy One</a></li>
                <li><a href="">Swiggy Instamart</a></li>
                <li><a href="">Swiggy Dineout</a></li>
                <li><a href="">Swiggy Genie</a></li>
                <li><a href="">Minis</a></li>
            </ul>
        </div>
        <div class="flex flex-col space-y-7">
            <div class="flex flex-col space-y-2">
                <h1 class="font-bold text-lg">Contact Us</h1>
                <ul class="flex-col space-y-2">
                    <li><a href="">Help & Support</a></li>
                    <li><a href="">Partner with us</a></li>
                    <li><a href="">Ride with us</a></li>
                </ul>
            </div>
            <div class="flex flex-col space-y-2">
                <h1 class="font-bold text-lg">Legal</h1>
                <ul class="flex-col space-y-2">
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Cookie Policy</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col space-y-2">
            <h1 class="font-bold text-lg">Available In:</h1>
            <ul class="flex-col space-y-2">
                <li><a href="">Bangalore</a></li>
                <li><a href="">Gurgaon</a></li>
                <li><a href="">Hyderabad</a></li>
                <li><a href="">Delhi</a></li>
                <li><a href="">Mumbai</a></li>
                <li><a href="">Pune</a></li>
            </ul>
        </div>

        <div class="flex flex-col space-y-7">
            <div class="flex flex-col space-y-2">
                <h1 class="font-bold text-lg">Life at Swiggy</h1>
                <ul class="flex-col space-y-2">
                    <li><a href="">Explore with Swiggy</a></li>
                    <li><a href="">Swiggy News</a></li>
                    <li><a href="">Snackables</a></li>
                </ul>
            </div>
            <div class="flex flex-col space-y-2">
                <h1 class="font-bold text-lg">Social Links</h1>
                <div class="flex justify-between">
                    <img src="../../assets/images/social/linkedin.png" alt="">
                    <img src="../../assets/images/social/insta.png" alt="">
                    <img src="../../assets/images/social/fb.png" alt="">
                    <img src="../../assets/images/social/pinterest.png" alt="">
                    <img src="../../assets/images/social/twitter.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>