<div class="w-full md:w-3/4 mx-auto p-5">
    <h1 class="font-bold text-xl">Order our best food options</h1>

    <div class="scr">
        <div class="flex scr">
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/biryani.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/pizza.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/noodles.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/burger.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/shawarma.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/khichdi.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/dosa.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/icecream.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/idli.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/cake.png" alt=""></a>
        </div>
        <div class="flex scr">
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/rolls.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/idli.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/burger.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/noodles.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/salad.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/pasta.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/khichdi.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/pastry.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/parotha.png" alt=""></a>
            <a routerLink="/restaurants"><img src="../../../assets/images/food_options/biryani.png" alt=""></a>
        </div>
    </div>
</div>