<div class="p-5">
    <div class="flex justify-evenly">
        <img src="../../assets/images/logo_2.png" alt="">
        <ul class="flex items-center space-x-5">
            <li>Swiggy Corporate</li>
            <li class="flex items-center space-x-2"><span><img src="../../assets/images/search.png" alt=""></span>
                <input type="text" placeholder="Search.." class="p-2 focus:border-none">
            </li>
            <li class="flex items-center space-x-2"><span><img src="../../assets/images/profile.png" alt=""></span>
                <p>Kedhar</p>
            </li>
            <li class=""><button class="flex items-center space-x-2" (click)="goToCart()"><span><img
                            src="../../assets/images/cart.png" alt="" style="height: 20px; width: 20px;">
                    </span>
                    <p>Cart</p>
                </button>
            </li>
        </ul>
    </div>
</div>