<app-navbar></app-navbar>

<div class="w-full md:w-1/2 mx-auto p-5 m-auto flex flex-col">

    <h1 class="text-3xl">Your Cart</h1>
    <div class="flex items-center justify-center" *ngIf="items.length == 0">
        <h1>Your Cart is Empty..!!</h1>
    </div>
    <div class="flex flex-col space-y-5 mt-5">
        <div *ngFor="let item of items" class="flex flex-col">
            <div class="flex flex-wrap justify-between gap-4 border shadow-md p-4">
                <div class="flex flex-col">
                    <h1 class="text-xl">{{item.name}}</h1>
                    <div class="flex flex-wrap space-x-2">
                        <h1>Price:</h1>
                        <p> {{(item.price | currency: 'INR')}}</p>
                    </div>
                    <h1>{{(item.type | titlecase)}}</h1>
                    <h1>Description:</h1>
                    <p>{{item.description}}</p>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h1>{{"Count: " + item.count}}</h1>
                    <button class="bg-red-700 text-white my-auto p-2 rounded-md hover:p-5"
                        (click)="deleteItem(item)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex space-x-3 mt-5 ms-auto">
        <h1 class="text-2xl">Total Price:</h1>
        <p class="font-bold text-2xl">{{(price | currency: 'INR')}}</p>
    </div>
</div>